{% comment %}
  New Team Helper

  Create a new team that can be included in the people's page.
{% endcomment %}

<div class="grid-x grid-padding-x grid-padding-y">
  <div class="cell auto text-center">
    <h2>{{ include.name }}</h2>
  </div>
</div>
<div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-3">
{% for person in site.data.people %}
  {% assign team_name = include.name | slugify %}
  {% if person[1].team == team_name %}
  <div class="cell text-center">
    <div class="card">
      <div class="card-section">
        {% include helpers/avatar_exists.html %}
        {% if avatar_exists == "true" %}
          <img src="{{ avatar_path_exists }}"
               class="rounded"
               width="128"
               height="128"
               style="max-height: 128px; max-width: 128px;"
               alt="Profile Picture's of {{ person[1].name }}">
        {% elsif avatar_exists == "false" %}
          <img src="/assets/img/osm/osm-avatar-default.png"
               class="rounded"
               width="128"
               aria-hidden="true"
               alt="Profile Picture's of {{ person[1].name }}">
        {% endif %}
        <h4>{{ person[1].name }}</h4>
        <p>{{ person[1].location }}</p>
        <ul class="menu align-center">
          {% for contact in person[1].contact %}
            {% for network in site.data.networks %}
              {% if network.name == contact[0] %}
              <li>
                <a href="{{ network.url }}{{ contact[1] }}">
                  <span class="icon icon-{{ network.icon }}"></span>
                  <span class="show-for-sr">{{ contact[0] }}</span>
                </a>
              </li>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {% endif %}
{% endfor %}
</div>
