---
layout: base
title: "Homepage"
description: "Your description goes here"
---

<header>
  {% include topbar.html %}
  <h1 class="show-for-sr">Homepage</h1>
</header>

<main>
  <!-- Hero -->
  <section id="hero" class="grid-x grid-padding-y align-center-middle">
    <div class="cell large-4 text-center">
      <h2 class="show-for-sr">Our vision</h2>
      <p>
        {{ site.data.pages.index.hero.slogan | markdownify }}
      </p>
      <a class="primary hollow button" 
         href="https://eliademy.com/opensciencemooc">
         {{ site.data.pages.index.hero.button }}
      </a>
    </div>
  </section>
  <!-- END Hero -->
  
  <!-- How Can You Help? -->
  <div class="grid-container">
    <section class="grid-x grid-padding-x grid-padding-y">
      <div class="cell small-12 text-center">
        <h2>{{ site.data.pages.index.help.title }}</h2>
      </div>
      {% for block in site.data.pages.index.help.blocks %}
      <section class="cell medium-4 text-center">
        {% if block.icon and block.icon != "" %}
          {% include {{ block.icon }} %}
        {% endif %}
        <h3>{{ block.title }}</h3>
        <p>
          {{ block.text | markdownify }}
        </p>
      </section>
      {% endfor %}
    </section>
  </div>
  <!-- END How Can You Help? -->

  <!-- Discover our Courses -->
  <section class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y">
      <div class="cell small-12 text-center">
        <h2>{{ site.data.pages.index.discover.title }}</h2>
      </div>
    </div>

    <ul class="grid-x grid-padding-x grid-padding-y medium-up-3 no-bullet">
      {% for module in site.modules %}
      <li class="cell text-center">
        <div class="card" >
          <div class="card-section">
            {% if module.icon %}
              {% include {{ module.icon }} %}
            {% endif %}
          </div>
          <div class="card-section">
            <a href="{{ module.url | relative_url }}">
              {{ module.title }} 
            </a>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </section>
  <!-- END Discover our Courses -->

  <!-- What's New? -->
  <div class="grid-container">
    <section class="grid-x grid-padding-x grid-padding-y">
      <div class="cell small-12 text-center">
        <h2>{{ site.data.pages.index.news.title }}</h2>
      </div>
      {% for post in site.posts limit:3 %}
      <div class="cell small-12 medium-4">
        <article>
          <header>
            <img src="holder.js/380x200" alt="Article's image">
            <h3 class="h4">
             <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </h3>
            <div class="grid-x grid-padding-x">
              <address class="cell shrink" 
                       style="border-right: solid 1px #ccc;">
                {{ post.author }}
              </address>
              <time class="cell auto">
                {{ post.date | date: "%B %d, %Y" }}
              </time>
            </div>
          </header>
          <p>{{ post.excerpt }}</p>
          <footer>
            <a href="{{ post.url | relative_url }}">
              Read more 
              <span class="show-for-sr">
                about {{ post.title }} article.
              </span>
            </a>
          </footer>
        </article>
      </div>
      {% endfor %}
    </section>
  </div>
  <!-- END What's New? -->
</main>
