---
layout: page
title: "Who we are"
description: "Your description goes here"
---

<div class="grid-container">
  <!-- Steering Committee -->
  <div class="grid-x grid-padding-x grid-padding-y">
    <div class="cell auto text-center">
      <h2>Steering Committee</h2>
    </div>
  </div>
  <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-3">
  {% for person in site.data.people %}
    {% if person[1].team == "steering-committee" %}
    <div class="cell text-center">
      <div class="card">
        <div class="card-section">
          {% assign img_path = "assets/img/people/" | 
                                append: person[0] | 
                                append: ".jpg" |
                                relative_url %}
           <img src="{{ img_path }}" 
                class="rounded"
                alt="Profile Picture's of {{ person[1].name }}">

          <h4>{{ person[1].name }}</h4>
          <ul class="menu align-center">
            {% for contact in person[1].contact %}
              {% for network in site.data.networks %}
                {% if network.name == contact[0] %}
                <li>
                  <a href="{{ network.url }}{{ contact[1] }}">
                    <span class="icon icon-{{ network.icon }}"></span>
                    <span class="show-for-sr">{{ contact[0] }}</span>
                  </a>
                </li>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% endif %}
  {% endfor %}
  </div>
  <!-- END Steering Committee -->

   <!-- Advisors -->
  <div class="grid-x grid-padding-x grid-padding-y">
    <div class="cell auto text-center">
      <h2>Advisors</h2>
    </div>
  </div>
  <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-3">
  {% for person in site.data.people %}
    {% if person[1].team == "advisors" %}
    <div class="cell text-center">
      <div class="card">
        <div class="card-section">
          {% assign img_path = "assets/img/people/" | 
                                append: person[0] | 
                                append: ".jpg" |
                                relative_url %}
           <img src="{{ img_path }}" 
                class="rounded"
                alt="Profile Picture's of {{ person[1].name }}">

          <h4>{{ person[1].name }}</h4>
          <ul class="menu align-center">
            {% for contact in person[1].contact %}
              {% for network in site.data.networks %}
                {% if network.name == contact[0] %}
                <li>
                  <a href="{{ network.url }}{{ contact[1] }}">
                    <span class="icon icon-{{ network.icon }}"></span>
                    <span class="show-for-sr">{{ contact[0] }}</span>
                  </a>
                </li>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% endif %}
  {% endfor %}
  </div>
  <!-- END Production Team --> 
  <!-- Production Team -->
  <div class="grid-x grid-padding-x grid-padding-y">
    <div class="cell auto text-center">
      <h2>Production Team</h2>
    </div>
  </div>
  <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-3">
  {% for person in site.data.people %}
    {% if person[1].team == "production" %}
    <div class="cell text-center">
      <div class="card">
        <div class="card-section">
          {% assign img_path = "assets/img/people/" | 
                                append: person[0] | 
                                append: ".jpg" |
                                relative_url %}
           <img src="{{ img_path }}" 
                class="rounded"
                alt="Profile Picture's of {{ person[1].name }}">

          <h4>{{ person[1].name }}</h4>
          <ul class="menu align-center">
            {% for contact in person[1].contact %}
              {% for network in site.data.networks %}
                {% if network.name == contact[0] %}
                <li>
                  <a href="{{ network.url }}{{ contact[1] }}">
                    <span class="icon icon-{{ network.icon }}"></span>
                    <span class="show-for-sr">{{ contact[0] }}</span>
                  </a>
                </li>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% endif %}
  {% endfor %}
  </div>
  <!-- END Production Team -->
  
</div>
