---
layout: page
title: "Who we are"
description: "Your description goes here"
---

<div class="grid-container">
  {% for person in site.data.people %}
    {% if person[1].team == "steering-committee" %}
      {% assign steering = true %}
    {% endif %}
    {% if person[1].team == "code-of-conduct-committee" %}
      {% assign coc = true %}
    {% endif %}
    {% if person[1].team == "advisors" %}
      {% assign advisors = true %}
    {% endif %}
    {% if person[1].team == "production" %}
      {% assign production = true %}
    {% endif %}
  {% endfor %}

  {% if steering %}
    {% include helpers/new_team.html name="IGDORE Open Science Education Working Group" %}
  {% endif %}

  {% if coc %}
    {% include helpers/new_team.html name="Past Contributors" %}
  {% endif %}

  {% if advisors %}
    {% include helpers/new_team.html name="Past Contributors" %}
  {% endif %}

  {% if production %}
    {% include helpers/new_team.html name="Past Contributors" %}
  {% endif %}
</div>
