<!-- Footer -->
<footer>
  <div style="margin-left: 3rem; margin-right: 3rem;">
                <ul class="list-inline text-center">
                  {% if site.email_address %}
                  <li>
                      <a href="mailto:{{ site.email_address }}">
                        <img alt="e-mail" style="height:2rem;" src="{{ site.baseurl }}/img/icons/email_icon.png" />
                      </a>
                  </li>
                  {% endif %}
                  {% if site.github_username %}
                  <li>
                      <a href="https://github.com/{{ site.github_username }}">
                        <img alt="GitHub profile" style="height:2rem;" src="{{ site.baseurl }}/img/icons/github-icon.png" />
                      </a>
                  </li>
                  {% endif %}
                  {% if site.orcid_id %}
                  <li>
                      <a href="http://orcid.org/{{ site.orcid_id }}">
                        <img alt="ORCiD profile" style="height:2rem;" src="{{ site.baseurl }}/img/icons/orcid.png" />
                      </a>
                  </li>
                  {% endif %}
                  {% if site.impactstory_id %}
                  <li>
                      <a href="http://impactstory.org/{{ site.impactstory_id }}">
                        <img alt="ImpactStory profile" style="height:2rem;" src="{{ site.baseurl }}/img/icons/impactStory.png" />
                      </a>
                  </li>
                  {% endif %}

                  {% if site.googlescholar_url %}
                  <li>
                      <a href="{{ site.googlescholar_url }}">
                        <img alt="Google Scholar" style="height:2rem;" src="{{ site.baseurl }}/img/icons/google-scholar.png" />
                      </a>
                  </li>
                  {% endif %}

                    {% if site.twitter_username %}
                    <li>
                        <a href="https://twitter.com/{{ site.twitter_username }}">
                          <img alt="Twitter profile" style="height:2rem;" src="{{ site.baseurl }}/img/icons/twitter.png" />
                        </a>
                    </li>
                    {% endif %}
                    {% if site.linkedin_username %}
                    <li>
                        <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
                          <img alt="LinkedIn profile" style="height:2rem;" src="{{ site.baseurl }}/img/icons/linkedin.png" />
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <p class="copyright text-muted">
                  <b> © Open Science MOOC</b>
                  <br/>                  
                  <br/>Website content license: <a rel="Website license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="CC-BY-4.0" style="border-width:0" src="https://img.shields.io/badge/License-CC%20BY%204.0-lightgrey.svg" /></a>
                  <br/>Website design by <a rel="Kevin Moerman" href="https://kevinmoerman.org/">Kevin Moerman</a> based on the <a rel="project pages" href="https://projectpages.github.io/">project pages</a> template
                </p>
    </div>
</footer>
