<footer>
  <div class="grid-container">
    <section class="grid-x grid-padding-x grid-padding-y">
      <div class="cell small-12 medium-2">
        <img src="holder.js/128x128" alt="#">
      </div>
      <div class="cell small-12 medium-4">
        <h2>Stay Updated!</h2>
        <p>Get the latest news from Open Science MOOC about our courses.</p>
      </div>
      <div class="cell small-12 medium-6">
        <form action="">
          <label>
            <span class="show-for-sr">
              Enter your e-mail address:
            </span>
            <input type="email" placeholder="youremail@example.com">
          </label>
          <input type="submit" 
                 class="expanded primary hollow button" 
                 value="Sign Up Now">
        </form>
      </div>
    </section>
    <section class="grid-x grid-padding-x">
      <div class="cell small-12 medium-auto">
        <nav class="grid-x">
          <section class="cell small-12 medium-shrink">
            <a href="{{ site.url | relative_url }}">
              <img src="holder.js/200x50" alt="Open Science MOOC">
            </a>
          </section>
          <section class="cell small-12 medium-auto">
            <ul class="menu horizontal">
              <li><a href="#">link</a></li>
              <li><a href="#">link</a></li>
              <li><a href="#">link</a></li>
            </ul>
          </section>
        </nav>
      </div>
      <div class="cell small-12 medium-shrink">
        <nav>
          <ul class="menu vertical medium-horizontal">
            <li><a href="#">License</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </nav>
      </div>
    </section>
  </div>
</footer>
