<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="creator" content="Open Science MOOC">

  <!-- common social tags -->
  <meta property="og:type" content="website">
  <meta property="og:image" 
        content="{{ "assets/img/osm/osm-logo.png" | absolute_url }}">
  <meta property="og:site_name" content="Open Science MOOC">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" 
        content="{{ "assets/img/osm/osm-logo.png" | absolute_url }}">
  <meta name="twitter:site" content="@OpenScienceMOOC">
  <meta name="twitter:creator" content="@OpenScienceMOOC">

  <!-- document-specific social tags -->
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:description" content="{{ page.description }}">

  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:url" content="{{ page.url | absolute_url }}">
  <meta name="twitter:description" content="{{ page.description }}">
  
  <meta name="description" content="{{ page.description }}">

  <title>
    {% if page.title %}{{ page.title }} - {% endif %}
    Open Science MOOC
  </title>
  <link rel="stylesheet" href="{{ "assets/css/app.css" | relative_url }}">
</head>
