  <div class="grid-container">
    <nav class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text">
            <a href="{{ site.url | relative_url }}">
              {{ site.title }}<span class="show-for-sr">'s homepage</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="top-bar-right hide-for-large">
        <ul class="menu">
          <li>
            <button type="button" 
                    data-toggle="offCanvas"
                    style="color: white;">
              Open Menu
            </button>       
          </li>
        </ul>
      </div>
      <div class="top-bar-right show-for-large">
        {% include menu/dropdown.html menu=site.data.menus.main %}
      </div>
    </nav>
  </div>
