---
layout: page
title: "Steering Committee"
---
<div class="grid-container">
  <div class="grid-x grid-padding-x small-up-1 medium-up-3">
    {% for member_hash in site.data.team %}
    {% assign member = member_hash[1] %}
    {% if member.team == "steering-committee" %}
    <div class="cell">
      <div class="card text-center">
        <div class="card-section">
          <img class="rounded" 
               width="128"
               src="{{ "/assets/img/people/" | 
                       append: member_hash[0] | 
                       append: ".jpg" | 
                       relative_url }}">
        </div>
        <div class="card-section">
          <h2 class="h4">{{ member.name }}</h2>
          <p>{{ member.location }}</p>
          <ul class="menu align-center">
            <li><a href="#"><i class="fa fa-2x fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-2x fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-2x fa-envelope"></i></a></li>
            <li><a href="#"><i class="fa fa-2x fa-globe"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
