<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="85px" height="85px" viewBox="0 0 85 85" enable-background="new 0 0 85 85" xml:space="preserve">  <image id="image0" width="85" height="85" x="0" y="0"
    xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFUAAABVEAYAAABoZXQZAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0T///////8JWPfcAAAA
B3RJTUUH4wYSEA4PO046VwAAIVJJREFUeNrtnXlclFX7/9+zMgz7vgtqgPuCCyqBJYp7LqXmSmlm
mdZTj7961Mqy55t7ZmZuuaaWS+5igDtqhjuKsiiIiLIIss8+8/uDpvFxSVRgMHn/My9m7nPmOvd8
OOe6znXucwSGP+E5R22rbqj2hsu/pNomb4AbCbkrsgMgu0XpuDvLoKC1rpdiKJTvlMw2LAdtO7FE
cAP0cnGe8BwYQqStRCWgHytbK54HAlf1Bh0gaKmJ0rmCUKwJ048H8UFNrv5jsNihacxIcMgi0MIV
XNSWnWw9wHOEY4nL9xDYvOFLLwSA4ziHUkdPc98d8yN4XoSqQy/Si+Bs4YWu5/8FiS0zg9N+hxvd
9bYl30Cp2Pl1i3pgsJXcEh01t7UgmGVoxxCQns8/ppgHbsvUfST7IfA1583ekdBuefPcVmlgu952
mO1/zG1tDdyPf6pQkzuk/pDyHRz7b9LZ83GQprVMUPQD7SG772VSc1v39AgStMv0n4Fdu1yVSgit
5ztE+3SGcEUnZdhaEGvEReJyc1tZhe191oWqsda4axxhz4DDK/ethrMvaxbnTgNVivPnlpPNbV3N
I5SVRavbg++nxfvFW6B/eYd/d0kHN1vXPq6LzG3dk/PMCdXoS+5KOKyPPQVnNglfKtgCugLb8Rau
5rauFhKhG6b3BleP7CvqSzDg/VaKsJ+hfqyfzG+/uY2rPLVeqAaDAQOwp8Mhl9h9cPy44XwOoJ9q
k2VRYG7rnkH+FK7f6zlTDH1hRLPwy30Hg/UB69nWi81t3MOptUJNG3TNOX0a/Lzh/KXDSVDymWeG
/FVzW/XPQ/h/JV4qR+iQj69rErzi2kXTfYK5rbqfWiNUPQahHlhru6fj1uGQ7Ou8WWcNht6iLEG4
ua17frDbevPt8obw1tqQoD7jwaWD8wrnP8xtVS0Q6u2D+a/mO8GyxGO/7VoExTc8DsmF5r4tdYiW
lxnU26HnUPn1F67Bi9+3f63DcfPZYzah/j7h1Kn4Q7A7qyQm5TPQBVp3k040342o48EIVhjWGWQQ
eDD3tigFIpv2Xv/qJBAIBAhq0o6aFmpMcdymQz5wIE+syH4bWC5uIgyswRbX8VS4Rma1VxbD+y36
2A57v+bma2tMqJvWR4/Z9TmcuemQqEgB8gULGVj9DayjerC3uLlQMQ0+2BiRM9gZLJMsoy3jqu/7
ql2oq47v9tnSHJJ3um3Vf1Z9DanDPMi12Vbl1+Hff3RZPOgPsIqzWmi1ueq/p9rCls2W0et2naoT
6D+dcrF7mbwezP9i/0ebC00JmaqmyoUadeVQ9r5DcHq6w/eKudV/o+qoHZTGetyWj4XvFkYZfgk2
TTdWFVU29Buj+B0DtUPTpECMaIPwhtnuWx1mxu/szcs6a3gnut+oob2evr6n7lHzTtweczsYdi0o
9kzWUifQOgC41tqzsajUNMvztDyxUI1d+7I2x2bs9qvLvdfxYA59aXgxayVkJGS+dD32yet5YqEa
U511Ofg6/g69xDJLcgdW/57wx4FY0Eq0dlr549fz2EJN8b/SO/UTUy6+jjoqgyLd9Yi8LfySGjNw
1wePX/6xhbppyaXvj52pWyxSx5Nx0c/+D+UFuH70hjTz/ypfrtJR/643D8TGDIZjbjb2ha+Zu7l1
PCkCQcWv7eV14cKNG+DsfO1aXh4oFHZ2cjmkpQUHN2wIGo1MJpFUnx2OsqzViivw8Rf9F0VOqYTd
jxKq0kvZXtkcpl8/vn3z/Lqg6VlFJistVSohKOjXX0+eBDe3K1dycu6/7s4db29HRzh8+O23u3QB
g0FQrWtP+pUKBH6u0PH7tm3bv/Tw6x459O8YfqhbTJ86gT6ruLsnJd26BeHh338fG/twgRpxcLhx
o6AAHByuX8/Pr3779g+46XSpEi7AQ4VqjM4udBHvK2xa/QbXUTUIBHq9Xg8tWuzZc+4cdOiwYcPx
4yCVlpWpVOa27n6MGa1TEee2n7n48OvED/tg19eHymL7PIuPF1c4MkVFV64UFkJpaWZmcTHodKWl
arW5bat6hEKpVCQCe3t7e6kUIiIuXUpLAze39PTc3MevLy/PxcXGBgoKvL0dHGquHbHzMooTTkFb
WhHU7P7PHyrUc06anrmpQD5Y1py9T4xaXVioVMK1a9u3p6SAUnn7tkJhbquqHwcHvV6rhR49yspu
3wYXF71eo3n8etLSfH2dnODIkQ4dGjQAS0uVSqMBqVQut7Co/nYUt/AYJX8T0rteU1776f6nZO8T
atInKTeSU0AleDaei9fpVCqdDtLSNm9OSgK1uqioNg5xVY27u06nVsOIERUCtbIyGHS6ypdXqaRS
sRiOHWvf3s8PrlypX9/Z2fS5tbVEIqzBR4IMnwhOshEOdr2w7ORmqI/fcr+7Pr/PlEPnLh84c6Xm
DHxa8vJOnrx58/kT6MiRZWV5eY8v0IICBwe5HLZt69WrWbP7BSqXOzra2IBIJJFU5/TUw0jbZVlf
GWt6TN7IX0I17s10Pcqmq/YZ8kmLilJS7twxtxXVj6enVqtWQ2RkhUDlcoNB/xjr6FJTvbwcHWHH
jh49mjWD4mIbG5kMhEKRSCgEW1tPTycnsLJydrazM187tZZ23SyWwenu57efvSu4+mvoN24epp/5
bE1DqdVFRUrlo69r3DggwM8PnJ0dHc35Qzwu1tYlJUVF0Lr1yZMnToBE8ngCPXxYKBSLISHB39/d
HSwsxGKh0OR72ti4uzs6glAoFotE5m6tidNR1xek/AZtadU/qNldQjXubsdQNwg2t5mVx2DQ6Sqz
mrZ//969w8IgNLRDh5YtzW31o1GpcnPz8uDSpQ8//PRTUKs1msoEScZ7sWuXQCCRwPHjFa9ubhVT
9/b29vbW1mBt7epq/Iet3in9JyPbX7RKNQ9IBybdNfQbt1+sw7zodOXlCgWkpEybNns2qNX5+ZVx
bYwC3bFDKJRK4fhxobDCxxQIBAKwsLC2lssrBGpvX3FtbRSoEWWpy3zZUij8T+GZws0gND7jYtwf
tA7zYDBotTodpKR88cXs2VBenp6ekVGZchWv27YJBFIpnDghEIjFYBSoVCqT2diApWVFkPSsYBgj
GCFQwqn0izHno0Bo3GG5tmxg+7xy/fry5WvXQnFxQkJiYuXL7dtX0XPGx1f4ogKBQCAUgkxmaWln
ByKRSGSO6L2qSI8suJptA8JMTW7n7NHmNuf5JT//0KFjxyA7e8eOvXsrX04sbt++ZUvYv7/CBxUI
jD2opaWtLQgEQmFtCo6elDsn9KHKDiDMkZQeuzPK3OaYn7y86OiDB+Hs2VGjxo+H06cHDx4zBq5f
//HHdevAYKjIoVcVCkVGRmYmpKV9++2SJZUvJxIFBjZoADLZq6/27l3hZxqHeFtbEAr/GQI1UtpP
dphIEBd01HkqXgKOgGW2uc2qeUpKEhOTku4WzP8uerx1a8uWnTtBr1er1Wrw8xs/fvRTjEB6fUX0
fuXKrFnffQd6vVJZmUSFUOjh4eYGMtmoUa++CkKhRCIWm3pQoVAkEosfXc+zhuYzO6FFAxCWb5LE
GHab2xzzUVR05kxCAtwr0HvJydm587ffID//8OHjT7Gr3Y0ba9du2gTl5WlplQmWBAILCwsLkMki
IysEKpPJZODt7eNTr94/V6BGDC3Ebwu/AqHxGJrnFQsLd3fXx9hSPT3922+XLgWFIjMzK6vy5Yw9
t7GHrixS6auv9ugBQqGzs6MjuLm5u3t4gI2NjY2trbnvXs0h1E+SfC3sY24zzIdY3KpV06YgFHp5
ubk9+nqdTqFQKCA19b///eabRw/dxmmn9PSFC5cvr3inMgkKY7AkkQQFNW8ODg6Ojk5O4OTk5HR3
bv55Qah3kO4SPUOZqKpGo6lIScpko0a99hqATFaZZW3GYMgkwAeTnb19e1QUKBTXrmVmPrpeodDV
1dkZZLIBA3r0AJmsYqh3d6/oSZ9XhByRNhI9xrzdPw1ra2tra2sQCp2cHBxAJhs6tH9/ME6YP4rb
t/fvP3IEcnOjovbtM72vVt++nZ8PWVnr12+u1O52xgzSoEG9e4NIVCFQH5969fz8KqL5mlx2V9sQ
GvK0sfpl5jbDfMjlcrmVFTg6VgytYnHTpv7+IJWGhQU/xkiTkbF48apVUFaWmpqWBhkZS5euWVPh
KlRm0YxEEhLSti2IRPXr+/iAh4eHh5cXSKVSqfQZWs1WXYiF+9U63STQI0H0BI8u/FNwd/fw8PQE
hUKhKC8H6NWrSxfQ6a5fz8oCnS49/e+GbuO0U3Lyp59+/TVoNEVFxcWP/l6h0MHBzg6k0p49X37Z
FCTZ2dnbG3PydYBQtEK9Q59kbjPMjzGzYxxqRSKpVCIxzVsKBLa21pXYGaayAjUilfbrFxEBYrFc
bmkJHh6enl5e5r4btQ+hKFNr0IeZ24zag0RSsbLdy8vb28cHBAIbG2trkMmGDRswACrruz4KkeiF
F3x9QSxu1iww0DTtZPz+Ov4XoUWOZhjPwUNwj4txCHZ2dnFxdTUJSyrt3r1z56ep2Rg09e0bEQFW
VlZW1tbg4ODg4Oho7lbXQpwME9kKQnsRaVI/c1tTe3F1dXV1c6sQlJUVSKXh4SEhIBY3avTCC49f
n1jcsmWTJiASeXu7u4OnZ91Q/3eIfyheqIoDocs0S2/bPHObU3sx+q7e3j4+FUO1RCKVgoXF8OH9
+5uCocrVBFJp164hIaZZBqm0IkVax4OxTCnz1b0IQq+jjmtcn8PFKI+LWCwWi8V359grgh8Li5Ej
Bw6EipWfDy8vkbRu3awZiMWenu7uJpeijr/H/k3DeklHEAa0azCmYRAIZhnaMcTcZtV+jC6A0SUQ
ierV8/ICS8u33ho61LTKqSIsqkjRNmkCFhYDB/boAS4uFQI1Cr+Ov8fjjlWqwzYQO0U6nneyBWnr
/GOKeaDa4Cx9FnZGMTfGHrG8vGLetaTE39/PD+Tyf/977Nj7rxeJKnpcR8eaydUL2ghcBUlg+Yvs
stQVXPwtA6y3Qr0E8Tv2vcB1qrCNPBxOttNcyr4J2s8N8/VF5r6r99Na7f9NE/FdT6G6LVP3keyH
69bEEGlu854dvLy8vHx8ID1dpbpyBVQqlepBi1SMPfATp0KLKKIIDPUM9Qz1QDNJM0kzCZqqAvPr
tQNflbet6zEIHNRwtfd68Ah3u+5wBB4wSq65+4/EYu2b+bOhGAOqcea+myZEjsU/qHKhfmy7VX77
7xJq4O/OHby+g+vdIOe0uc18djD2lPXrN2jwwgtQUFBQkJ8PanWFYG1sbG1tbcHW1tb2QUGXQWVQ
GVSge033mu41UG1SbVJtAgUKFEDZ4LLBZYOhZEbJjJIZwDGOccxUPnLA4AF/bfxdsbnYdR4guMz8
zPzMfLj10q2Xbr0E7S+0v9D+AthPFnxlYQ/FTlCbNppxblySzow//5hw1+PS7Ro1H9l6MzBWe0mf
bG4znz2MgnXZ6rLVdRu4Z3vkeOaCdKx0rMXbUBhcGFwYDFkTsyZmTYTL6svqy2pITE1MTUyFpBlJ
M5JmQPrV9KvpVyH7avbV7Kt3CfQpSYlPiU+JhyVNljRZ0sT0vouV0M5y+ZPXW10ENrb/xWO96e+/
elTb9bbDbP8DTu1ytqsUkB/uheUuc5tbC7jDHe6AwcXgYnABzXjNeM14UB1SHVIdgnLXctdyVyiZ
WDKxZCIoQ5QhypC7yn/GZzzoiM0UUkipfvN1v+p+1f0K/u/5v+f/HqSEpYSl3JWJ9PpRtNwmEE5P
0Lybs8jM9xoQpKo+1baBl/sEE/IGkEQ0cQ/YGv3AiuOt4xpDTKpk2a0vzW32o7lwYf78+PhH75hy
75Y+wlThJkE7kH4uPS8JButAucEiDOzO2zaVdwOXKY7DbPqAy3SnCNtnKHNXZF1kXWQNH3t97PWx
F8QL44XxQmg3qN2gdoPgxOsnXj/xOhx4+8DbB94G56POR52PwvpNCofLr4BBzU3DTPPZ716c9bpK
Bv/6of/Vka+Y3r9vgqTzuODLndJhX3TciJ9dQR9rtU5ai1dVSaW2thYWoO5b2FB1CywzZTbSzuAQ
Zr/S2hc8l7q1dNRDg2Tfje5XoUlgwKv1osCyr2y5NAgoBY4DRr9c++frdKgNqeWo0KjQqFBY22Bt
g7UNoKxtWduytjCkw5AOQzrAiHYj2o1oZ7p+wfYF2xdsB7s5dnPs5kB8dnx2fDZcPHPxzMUzcEpw
SnBKACkrU1amrARnnHEGpE0Ey4TnQHXO0Ef3m/naGyz03hj4gEds7hOqSCtSipTgqy1+WTwX0mOt
wBw7qAQixhHE7oK3hWkg3yQolowHuxcFn0tLweWM0FL+BXR/L/JCHx9wcbeZYDMUaP9XDS8C8Olf
f3+AcYK9Y80144L/Bf8L/uCR55HnkQdb47bGbY2Di+qL6otqCLocdDnoMrwx4o0Rb4wwlTuecjzl
eArMnTV31txZMHPczHEzx4HMW+Yt84bPPT/3/NyzIsPl6Ai9CnoV9CqA04NODzo9CKb8OOXHKT+C
JFoSLYmG1rSmNdBnUZ9FfRZB6o3UG6k3oNOMTjM6zQDrfYIA6QhQORtQjHji5j4xEuWdvsrpEPx9
t9y2Fbv4/c/D6Q+dKBlwu2PP8GgQFGs8dC/WoMUzsSEMRrSzlDRxh9d9ZKsadYJX/m3xa8Nz0DlY
2tLnCjR5VxzgNAJc3G2W2jxgkciJr058deIrKJ1dOrt09tObpWmpaalpaXo9l3Au4VwCrAhYEbAi
AI61Ptb6WOv7y61Ur1SvVMPI4SOHjxwOtx1uO9x2gPBJ4ZPCJ8HqdavXrV4HMW/FvBXzlqncntA9
oXtCYfic4XOGzzFF6c2vNL/S/IqpJ/2pwU8NfmpgKiceKB4oHgiq4arhquH329NyWMthLYeZgisj
Dq8Id8hu1uDvfA9tRonuuN4AIQL9g0T5UKG6urt87BILXu1zd+tX16DF/6GEI3Cnm6Gr8ilSu/Mt
5lvMt4Dzn57/9PynD7/O6NOd1Z3VndXB1R5Xe1ztcf9107+b/t3072CCcoJyghK+WvDVgq8WQHZO
dk52Dnzo+6Hvh76wf+/+vfvv2vEkYHTA6IDRYHXa6rTVaZjiPcV7ijf0O9jvYL+DEDkjckbkDIgb
GTcybqSpnKaVppWmFcR0jOkY0xGGzB4ye8hsCFYFq4JVsGLAigErBoBbF7cubl1Am6xN1iZD89Tm
qc1TIV4QL4h/wHJEbZI2SZtkGvqNuF0Thso/rMHf+U/EG4tQfQi9w8Icwv9mfvmRSbwBV9rnvTwT
FkZcH3bkN2rs9OibpbpJpd7ggBiZ9vHLBwQHBAcEQ+rK1JWpKyFkRMiIkBFgGGIYYhgC08KmhU0L
gyMzj8w8MhNcEl0SXRIh+Zvkb5K/gZmhM0NnhkKvuF5xveLA/03/N/3fhNifY3+O/RkOvXLolUOv
gKxIViQrAt+pvlN9p8Kexnsa72kM4YQTjqnc0dZHWx99QI/bNKhpUNMg2Ltn7569e0zv19tXb1+9
fZAtyBZkC2DSJ5M+mfQJ+M/zn+c/DywbWja0bGhyEcqCyoLKgmDo3qF7h+6FUZJRklESaP5t82+b
fwueizwXeS6C3cN3D989HDLKMsoyykAfpA/SB4HPryKJTW/g/9GBGlwP23KvzsthAkgaSbIlf7MV
/yNzJF7/9fzMsxj8Xs+ZYuhbcw3I+z+9QbHBNNQWdSjqUNQBksuSy5LLYMmgJYOWDIKduTtzd+aC
frp+un66qbxRIPcOccaoN3VV6qrUVRDrGOsY6wibfTf7bvY1CWLrkq1Ltt611U7AmwFvBrwJjt0d
uzt2B1k/WT9ZP9PnQUlBSUFJkFQ/qX5S/bvKtQ9oH9Aebhy+cfjG4fvbaexxr3pf9b7qbWqH0edM
P55+PP04CDYJNgk2gWyKbIpsCvx659c7v96ByUsnL528FOQN5Q3lDSHQKtAq0ArmRM+JnhNtck2+
vPXlrS9vwbvT3p327jR4f+r7U9+fanIRxOeZLGwDwn8JQgVVcGz5o5B0uJOocIR+7V8OjajEtFil
l0WMaBZ+ue9gmBEfX7ZNC7r2NsEW1bioosjdMFsVBPv27t+7by9s8dziucUTshZnLc5aDBGWEZYR
lrDq3Kpzq85BXGFcYVwhzGEOczAJa+fKnSt3rgRKKaUUGu9uvLvxblg2fdn0ZdNB0kvSS9ILNGKN
WCM2CSLll5RfUn4BmtKUpqYeOm9c3ri8cWBINaQaUkGwUbBRsBEaZjbMbJgJtzrf6nyrMyhHKkcq
R4LPBp8NPhug3L/cv9wf8rPys/KzwMnLycvJC+xX2K+wXwE2PjY+Nj6QUZpRmlEKDewa2DWwM7kK
E5UTlROVUJRQlFCUAA06NejUoBN81/W7rt91Bck8yTzJPNP9C+sb1jesL4QRRhim9hNAAAHQiU50
esB9l+k5Id4A5aDRhFbf79ujk4N7ox9BWiy9Kq3ECF1pqVkfsJ5tvRhC24m2e5bDISC/GrcCUmw0
uGn3Q7M/AkYHbIP4rPis+Cz4YfgPw38YDqFrQ9eGroUx1mOsx1hD75DeIb1DIPFM4pnEM+A/2n+0
/2hIK04rTisG3TbdNt02kzCMqcSZ82bOmzkPjsw4MuPIDGixvcX2FtuhZFvJtpJtkL8vf1/+PnCK
cIpwigB5tDxaHm1KSdajHvUAiykWUyymgNcBrwNeByB1XOq41HHQvF/zfs37wQttX2j7QltIaZPS
JqUNdBzQcUDHAab2Gn1Lo89bn/rUB3p69vTs6Qk9M3tm9sw0uS7Gf5CqxnaB8DVpaygX6H5+glOA
Holz46whyo0Q4to/LfjXypd77OURPU527h8uB7utN98ub1gNLfkTbYhhjb47+I31G+s3FsRasVas
hWbSZtJmdz0+bFdqV2pXCmGTwyaHTTZF+8Yey3qN9RrrNZDRNaNrRldTuXfOv3P+nfOmaaNdS3ct
3bUU5o6ZO2buGNN1SX2S+iTdtZOM8R8gOT45Pjn+fruNLofRNzbSf2H/hf0XmnzLe1koWyhbKLtf
wPdSXQI14jBCsEtWDUdLCpspdmhuwohpHXMj+j9B+Sf94rFLX2zQNwJEniWfqytxOvBjk4uecsh+
T7BDITcNdTkLcxbmLLz/cpejLkddjkJxVHFUcZTp/b+E86dPasQ4RPsu8F3gu8DkI05oOKHhhIam
oOXAGwfeOPCGqVzbL9p+0fYLKG9T3qa8zf12TC2aWjS1CHrH9Y7rHWd6f0jHIR2HdIRWLVq1aNWi
Gu7XQ1Ap6K+Lh6t5ugWFWvj9I03kzWiImq3amyaEzW2Vy5MTYf2/FFaX28Dl9drSfN+q+37jOucu
u4TW3ufB/ZpbqfvIJ6inssegP4wTxWcanWoGOxpqu1/92rSldVXR+EWxpdMF2BL9+dJvC8HhI4eP
HD6Cj8s+Lvu4zHRdZHJkcmQyDAwdGDowFPrl9svtlwuzRs8aPWs0WJ2yOmV1CiYkTEiYkAC7Du46
uOugaR7TprdNb5veMCxqWNSwKAjaErQlaAtkfJDxQcYH0ObLNl+2qUUp5Ztf698tzYXsnbpVZbcg
P9zQVPkRlFzSR6n1oBxn6KKdCfrbnDKYcUt0v5U3L+rehXdy+7059Cl66qcWqpHVF3cP3zIXkta5
/UtfhZkstx9E7eX9IfPwujMHEmHR5UWXF12G0HWh60LXQWlkaWRpJBSOKRxTOAbWTV43ed1kU1Ru
nE8siCmIKYiBHt16dOvRrersqyruxBr6KevBzau6j8ocIO8Dva78RyjCMFPVCBQLDc7anaB9wbBa
HwrcREepua1+OPIVucHlKpisiHAd/gFISiXZkqc4FqrKhGo8aW3BVztk6zZDdrlXnMVT1wqW0wUF
kiHg1v7UJzktYfHgxYMXD4bx08ZPGz8NSmaXzC6ZDS+ffPnkyydNQY25Uc2mm24J3JDpupaEQM4y
/dny36GwmX6YcgCUHjDc1FwBTX/DR/pxYAgj3/CLua1+eiTX79goC2DCklZXelwAN1vXPq5VsCqr
yoRqxHgC4NyzOy//5Ap3NnoVWS548vqEAoIEuRDuUbzIUQ+vvPjKi6+8CCdan2h9ojUIEgWJghrc
5C0rQP9G6QHIPq5bU1YIBUMMzRSfQnGOPlojBdVUQ7h2Aeh1nDG41Jxd5kYoK4tWt4e3Ev2+DVkF
DTb73a5fha5SlQvViKKRorsiFOb02Td/Yz8oF7uXyZ/CJRiUaNk3MAbe3zouc/ximDt/7vy588Gm
l00vm15PXu+d1wzdlHfgZpFuUqkn5H1VkWgocjbMVrUCxQaDqzYWtB0Na/QRQE5FkFdHBYL3lCe1
a2C4i/M7rRZAM1ljYZMn2O/gkd9TXUI1Ut6sfGh5OHw7LHbcpjZQXOxpJW/7+PV0zJB+66mAhlNF
k+3bPPw6pQ+ddG9DlrcuoqQb5GzVny8/C3c660coh0FZgiFbcxM0bxkm6f4Fhh4UsKW6Wv/PRdit
bITaFYZNd2vROgSaHW68uWk1pl6rXahGNNYad40jLFi9O/3npnD7lPdF2cTKl/cViGS2gSDXCNSS
+ZD/nr6l4r9QojPEqO1A9Y0hQrcc9LacNXhXd2ueXyTzCxsri+HNV/z9QjOrfoh/GDUmVCN6DEI9
sKz7ztUboyAjxmOUqLfpvPY6aifGKP6dC+1n9l5rWl1XU9S4UO9lf5tjPQ9fhf3X9NeyXgL9WNla
8bynrraOp8Q4Ue/T+ZaLNgTGnuolGnTp6aeZntgecwvVyI1ZWb9ldYYV75y9EesOihluLeWvmtuq
5w9jcPTSNkOYx03o/n5Ys5fPmtuqWiRUI1qJ1k4rh18co7ft3AeJn9jvUt0AQ6502D/oQLpah3Gx
iDEX/6Spzuqi1gn1XrL9cqyzf4INe38vi1FB7hqveNlzdL5SdWFcD9qti90hfz8Isw1e3akappWq
ilov1Hv5fcKpU/GHYP+7t969dARKf3L/Qd7I3FbVfsQvFU1QqqHlAN1Eh0bQX9RlUo8I8/mcj8sz
J9R7OVV4vvvZf8O++dfcEqKgaLrHWsukulkE4zRS03Cdo11vGHi0i0/PdpVfqFzbeOaFei/GoOzg
i+dS/+gLKQMkMaUrQDPa4XNZLVr9VFUYnxJ2PJl7Su0Abd5x/bJBEHQe0yEhJAVECHVCnbmtrIJ2
/tOEei/GxTKnRp/3OhsMZ1IyFiZvg1vdJGtUMaC0cs6R/wbkCxYy0NzWPhzj05pOn5V+jxwCw+xn
eSyHl/sER4Z8BpZJltGWcU//PbWVf7xQH0XhfwrPFG6GU+kXY85HQdrKgrO3xkLhLH1v1TXTefHG
47iNpx0/LcZ5StHe4mDlT2AZXrZLvwvs1hu2SlqC12dW9RwcoVUj/y5NNkP9WD+Z335z3y3z8f8B
avBrFY2hpi8AAAAldEVYdGRhdGU6Y3JlYXRlADIwMTktMDYtMThUMTQ6MDk6NDcrMDI6MDD3PBrF
AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE5LTA2LTE4VDE0OjE0OjE1KzAyOjAwbW7pRAAAAABJRU5E
rkJggg==" />
</svg>
