<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="85px" height="85px" viewBox="0 0 85 85" enable-background="new 0 0 85 85" xml:space="preserve">  <image id="image0" width="85" height="85" x="0" y="0"
    xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFUAAABVEAYAAABoZXQZAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0T///////8JWPfcAAAA
B3RJTUUH4wYSEA4OTEkKwQAAHr5JREFUeNrtnXlgjNfexz/PbJnJnkiEJBJJJASxJMTWhGpVhdIq
pUIVbXWhqrcb+talt6WWotpS99JNq5tSay1FUTSWilBZKJF9lWUy+8zz/jGdO7mWIhITOp9/nmSe
55zzO89855zf2QXxT/ibY2hriDB4wtk/svqe/geUB5Tsz3kIdKeqFxWkg3yWZWpZEXj8IH9Z3R9c
5srCTOdB+ZpcZvkZlKvkj1j04NlJtclsBm2xYbHwBGj8DCulk0F/wBQtuQ80SQaDXA2aBOOvLi1B
+yH9ffuCbJbyu6YG8OzfpGvww9Dy63BL62Tw2e6j9p3u6LfjeIS/i1AtCovUDJwaknbvbzOgJD1n
Y1oncF0qDrngAq2K/OdXVoByoFwv/uZoa0F0F+OExXCutHS5MhtKO+pdA/uB24N+gdEmiB4VU9y1
O3j28hzl+YWjrW147lihnjmQ9WGGO2R3SX9w33cQYnL1yzwJzS3eacY8R1t38xhmmhYIUjidXLTd
9y0QdN6PdvGD+ME9P79XB7JSWaXM6Ggr64/bXqjGEGMzozscHPfzqk3R4H3S9MzhmRD+qf/32p8c
bd2t5+KSmnelcyFrRcULEZkQU9O9aGgo+Jc2HRTg6Wjr6s5tJ1SbL3nwiZ+f3LAKgrNkn6bMgYD5
nquNiY62rvFhnGgezAuQ2qugfeAvENas4w/DZkDo0JbKsHOOtu76afRCFRERRfjlzT1TN4VDcK7Q
b+9k8FvoEWDKcbR1tx824R6bXujbygzddvQdMPYJcH/BfZ77Lkdbd3UarVDPq8/3/KMTFJSntV4d
DjG+gZMuhjraqjuP0n9UF8laQM47lrV39YEE774rh8Q62qrLaTRCFSWixALs9tm89ZP3ITa2aeTJ
LSBbJ70otna0dX8fUgvyUn0joXV2z6ynY8HvXr85/t0dbVUjEGrZe2UPl34NmTN+mfrhIIgpCFJd
fN3Rr8VJ+UF1oTQeSspV2iE9IW5E/LAEB9ZoEkcl/NvKo54H24F6xUnZ3CSnQBsbvj3cm5lTIPJl
ye51fWFX6Kb0Vdn2NsOt5paXqAfP7DNtfwCiflAs+/FncJko6ylOuPUZd1I3jnyWOz2wK9z1xsBD
U8feuv7aW1ai7lm47bevx0H7WFXPrf2cAr1d6fJY8Nv5h+HX7Vtkc9WgTdb214Y0fLoNXqLuUm36
z8oUiC9p3vnkmobPkJNbS/rSwvc9WkN0VR/3V5eD2xy3pW7H6z+dBhPqnp3bvb6Jgy7dm+w66OyI
v+M5lZif6v0+dNb1f2uaChS/K84qquov/nqv+n/Zu6dwSzuIG+rb+uDYW/mqnDiSdnsDO1ZMgoM/
bn1wUZK9u7G+qDeh2lrxbT9yjduxBYR8YRm30RCdk/ohzjd4VGFz2LVnY8zyJvUX701X/aU7S6eV
HAL1tycT5h1wDm06+V/SCjUdB5yBHq0SZPdtrHs8dS5RbUV7VtTBwmXznAJ1cmVa7hSObFsMOfk5
fbJ/qHs8dRaqbajTOQbv5K/wGK2SW96H0j5pj/07Gkx+Ji+T/MbjuWGhnv3HmZczjtvH4p04uR4i
jwV0rFkGe5dvP7RGduPhb1iopbtPR3/V1TlZxEndiAn2vft4B8j9Krf1hdXXH+66hbq/x64dG760
d0M4cVIXVO3lmy094dy2ox9/cQMF3TWFqhugi9cFQXAHiXFfoaOz6eROofPSYJfiL+3dmtfimkI9
VLJnw3ofZ6veScNg+CB/8fbMaz93VaHaWmdBe+W+xx53dHac3KnYXMkTB4+vP/wXy9SvKtQD7feM
3DDqzlle7OSv0etLSqqrQa3OzCwqAq32woXychBFs9lSn2OhV0H99IU126Zd/f5VherdxPTjkeGO
eGVObiU2QarVp08XFYFeX1hYXQ0azfnz5eVQVXXiRH4+QMPOWo5JDfy6fBtkf39edy7s8vuX9Wid
CczMTQ+F8Ez/77VDHf0andQXRuPFi2YzaDQ5OXo9aLW5uUYjuLj4+lb9xSwnk6m6WqezXvV6kMk8
PZXK+rdPUAtHxRfgzKC05j/1h1BaBj5R6/5lQs3+Kn3gLjU0I2iVo1+uk2tjsej1ogg6XWGh0Qha
bV6ewQAaTXa29Xr+vF4PJpNafaUqvFmz/v1NputL53qeu1lCW7v+M+tFEM+JK8T+ICAgCLWEatub
KWKc58ZzM4BYwNnKdxi2itZgKCmxCdBoBJ3OJsQLFwwG0Grz841Ga4iGtMdisVhuxYKlZmneEw39
Ie1g6vojx6FDj04Pdu1cS6i2zcPCFnoEmDQNb9DfHZOputpstlfBWm1BQe0SUavNztbrwWzWah2/
mB30eqPRbIaGqPavROnIC0FHZEB2J7pSS6i23e3CaJ7GAUe/ltsXUTSbwV4VazRWwel01hJRq83P
NxhAry8uvhVVaf3l69b+XHyGyS7kvQlAV76pJVTb9ovAvxz9UhozRmNVlcVibS3r9XYf0FYF2wRp
sZhMjaEkvF2J+LbpLs1RqHy3IrZiIshsm461mun/Q+X7AOgdbaQjuLRRYmuM1NRYS0St1uoTms0a
za3oV/y7I/ldGC8OhpPfndQf7gcy2w7LLRrJBrb1jShaGwEGQ2mpyWRvlNgaI7YSUa8vKbFWxc5y
sDGhGVfu90cuyMoOFU+8MA1a4AmvOtqsG8dWFdduDVurZGuJ6KyKb2/kG8Unyl8Hmb6VurRwPYCn
/61IWKu9cOHiRdDp8vMrK+2fK5WBgV5eoFKFhPj43Hz/oJM7Ax9v1e6qzSCTdzPfXf4J8CsnacCJ
0LaxZI3m/Pmyssvv2z4vK9u3T6uFysrTp60loLMc/DsTuM4rSf81SDyMii+qFzd8gkbjxYua6+qf
lUr1enAK1AmAYpbsJdEMEtsxNA3N9fqIgiCVOvrlOGl8SJTx8u3myIZPyGAwGp2+pJO6InF7wmWT
ZW/DJ2Q235qxYid3JhLV74pEcfatScwpVCd1RaL/xrRW8HO0GU6c/DUSTVv9BYmbo81w4uSvkej9
jCukzjVRTho5Eu0WU540ruETEoTrfdLZN+DkciTqUEOk8q6GT8hicXGRXceeQ0ZjdbXEYWe1OGls
iIHiM4SBRN9aFHwebvgEjUZvbzc3MBjk8isJ1mhUKGQy0Gji4tzdARISFAqA6Gjr8wEBVgE7Zfx3
oujTqmR5b5BJQ1U1AW9ZPzzbgGNCEolUKpFAebmfn5cXyOVGY+0Z7kajVcCiaHMSPDyskmzV6n9j
soUqK7M6CdarIJSW1v4fKiqcTsTtT0lczXH3WSDzfL3J9GDrceG7ua/hEnRzc3WVy+HixepqgwEM
BmsJeikymUwmkYDJZDJdWWi2ULYS1nq9vI/WttaopMQaT3m59WoVtMGQl2exgIuLcyCiMaNdbHnE
ZxvIQo+FhUW9AuKEP+KEx+3rq+sbb28PD4UCjEbrIrGysqoqg8F+v0kTLy8XF/D39/FRKsFkMptF
EbRanc5kAo3GetVqdTrr+nTr8t2rr45Uqaxlc0iIdfaA7Wrl7bfXrJFIwNvbWrIHBYmixQLBwdZr
x45ubhYLuLk5pxE6Eulw1+aBXiDz/cA3tclYOFGaslx5N4Qr/btqFzVcwv7+vr4qlf16NWQyqVQQ
wMPDzU0ut1/tWOWp11vnEFxJ0CYT6HQGg8VifVoUQa3W6QTBHq6oyOr1FhUJgkQCx45Z5d26df/+
ZjO4uqpU1pK7vNyaos21KCqyuhyFhbblfI2qZG4mdBeag/CD6pCyAIRkn75ec0GiCNzRLBqk68Pj
Q1KAl6vHrwsEPjevMox3tNGX07Igsk2sS63FfaUd9a6B/SA8A84mOdq868EqKBcXhUIisV4VCvD2
9vS0NsKs2Mpbnc4q3N2709LMZpBKZTKz2VoiG43WJSsWC3h5ublJJODp6epqDSmTWVMKCLBdrcJt
2xZquxwajfVvq2shCMXFVgEXF9d2OcD66Q0joyNtQXhNYZE/CUKE5zQPBUiOBVT5rwHJay0nB98P
0vA2+a2KQFLdfFiAD9CXYQAUANZplkkcBTr/+X6WH3h51zKQUBNd4uivtBZFL1eNlu+FiGVxp8PO
1RKqW5HfmjaTAfjX2bOONrP+kEis8nJ1ValkMqipMRrlclAolMr/7du1VvndurVpo9NZXRCrL2sy
Wdff6/U2YV+55HR1re1qiOL/uhr2/mHr0hlbiSy5p2SMkA669OpHlBNAVejW2XsUSGnxeeABkJZE
tgifCNKQ1gsi3gAWARcByP9v1H0BmIPNlfK53LqcspyynDIo6FPQp6APxKfFp8WngSXVbUXAJpD0
rFlUEuDob6uWvSGVWwNEiPjz//8KNfrnmDHxB0H/0ekDWzbeuWeVKpVX6821Vv0ZGYWFKhWkpubk
ALRtGxIiitCmTWAg2H1sjcYqXJ3O6ivbfGetjyHZ4grsF35SjAPJG4oRXk+BpJuywv85kFa2mN9i
Kki/7d474lUQfpXWKF8D10o+BkCFbYea52kBhAD1cFZCZkpmSmYKfNH2i7ZftIV44okHzArvX0Oz
QUYxJxuRUOW9vJXRtdZD//dL8+zlOcrzC9hrLkxuOhdiCe5ZVORoc+ufyMjmzY1/noZc20WwUVxc
WSkI8Mknu3YB0IWOQhT4LPUIk94Hnfq1CvXuBu1atRrnHQktJgXu818JyuGBs1sMAslq4ZDPD0DM
nxGuY9OfErSzDzhza/JrXmtea14Lkc9FPhf5HGQmZiZm1jry05ToV9PaA1w0mWy+hd/D1agZpn9c
0glim3QLvHstkMg2uMImaS6+/hHx061/b5ziaLPrH19fNzejEXrGtuktnwSn9ucNdgsBP7NvkJcH
BI8MXNukFCI3hiUEHoGoRyJKgpoBj2Dz8WC39fUAUE4FZjCs5nlu4hyl+qLSvdK90h1eCXol6JUg
SHk95fWU16Hr8K7Duw6HqpFVI6tGQulTpU+VPgV++/32++8HCoVfBAMQKfYSZ14pZms/eENz2qX4
g8C10OcLVaLqgv3zy4TapXu3eb0lkJu///WtqdBE4p5m6uio134D/ICPoAZLpfCS4nEwIZz3GAsG
H2GQ72jQtZRsazYadJ7N40Oq4cGRwye6GOHBkVRg9ckrOA5AG3KB3pTQzNGZgi0JWxK2JMBn4Z+F
fxYONV1qutR0gRHdR3Qf0R1Gdx3ddXRX+/NL1i9Zv2Q9eM33mu81H1IKUwpTCuHksZPHTh6DI8IR
4YgAmasyV2WuAj/88APEMNnHKncQMP6n9tI2i0UikUhAJnN1dXFp+Px6DW4xqKf1+/ifzTAv+41I
1VKd1ARnYypTw5c44qv5kyqktAXxbeFh+Xtgiha8vHSgOSvtHjoGLn4iOxq/B/JfUvw2NAzOd3TR
jJ8CFxIVs0d7QX6i/LMh66E0RvZIwjBQe0hWRupAFIWJLnU4kKuupEWmRaZFQql3qXepN6xIW5G2
Ig2eP/r80eePwierP1n9yRWOsTmQeSDzQCYseGfBOwvegRePvXjsxWPwVuFbhW8VwneB3wV+Fwhb
fLf4bvG1hzs6/Ojwo8PhYZ+HfR72AXmqPFWeCp2lnaWdpTBo2aBlg5ZB1sdZH2fVckl0Nd6dmgog
ilZhGo1yuVQKFy/6+Hh4AFgHYhqKHNdyXM5Bpydj1d1OXX7/qknHHOqx+2EL6DYbXYTODf592knF
VXgPzpe7yCb0gOxRik2PpULuVoVu2HNQLJX9dq8CKvtIe8Z8DoZJQnefvpdHc+jNQ28eehPU89Tz
1PNu3ixjR2NHY0f79fiJ4yeOn4CVUSujVkbBL51/6fzLFd7TKsMqwyoDjEkekzwmGUp9Sn1KfeCe
l+556Z6X7ELd/sT2J7bX2rl2c8LmhM0JkDw/eX7yfHsrPeZMzJmYM/aS9PPwz8M/D7eHkw2VDZUN
BX2yPlmffLk9HUd1HNVxlL1xZaNmfdOXw2KhsLBZMx8fKC319/f2BoPBOplILm9YoZbsk/y7+w4Q
LILlSslcNWn/5v6vNO0IJ0qKHm35dcMZePmbRCM+D4p24pqy0rpHs8hlkcsiF0h9PfX11Nev/pzN
p/vN/Jv5NzOcvf/s/Wfvv/y52e/Nfm/2ezBJN0k3SQdvLnlzyZtLoLCosKiwCKaGTg2dGgo/bf1p
609b7eGixkeNjxoPbkfdjrodhenB04OnB8OQ3UN2D9kNY+eMnTN2Duwbs2/MvjH2cMZOxk7GTrC9
x/Ye23vAiHkj5o2YB9303fTd9LDyoZUPrXwIAvoG9A3oC6YMU4YpA2KyYrJisiBFSBFSrjC10pRu
Sjel26t+G1Kj2w/B6Zc/r1JZ+0lUKqWyIYRauKNyv/xx6DEmcf3Av5gKes2Jd9Gzuj7ysB8YD+YO
XvACyD+SbmBx/Rt8Ka5eFlmuDgwHpNTlNO2oblHdorpB1qqsVVmroNfoXqN7jQZxhDhCHAEzE2cm
zkyEvXP3zt07F/xP+Z/yPwUZ72a8m/EuzE2YmzA3AZL2Je1L2geR4yLHRY6DHWt2rNmxBvYM3jN4
z2BQViorlZUQOiN0RugM2By9OXpzNNzDPdyDPdz+zvs7779Cidsutl1su1jYunnr5q21mt0hO0N2
huyEQqFQKBTgpVdfevWlVyFyYeTCyIWgilBFqCLsLkJNbE1sTSw8uvXRrY9uhcfkj8kfk0PM4pjF
MYsh8IPADwI/gE3Jm5I3JUN2TXZNdg1YYi2xlliQj/dcECmCysfzgsIHFApr1W8b2haEG5lTfP3k
Jpp2d0mBVhfkhXL11Z+75m+keUng/wV9CsemF/q2qtuYSp1waWmZWqy1V7WV3Su7V3aHjJqMmowa
WD58+fDlw2FD8YbiDcVgmW2Zbam1SNEmkEuruEMjD408NNLuo+3w3eG7wxe+Df029NtQuyC+X/79
8u+X28NFjYsaFzUOfPv79vftD8ohyiHKIfb7semx6bHpkB6WHpZe67CEqPio+Kh4yP059+fcny/P
p63EPRt8NvhssD0fSeVJ5UnlcO7AuQPnDoDwjfCN8A0opyunK6fD2otrL669CNM+mvbRtI/ANcI1
wjUCWru1dmvtBvO3zd82f5vdNZlVMKtgVgE8M/OZmc/MhOdnPD/j+Rl2F0EMFkT5TAjq27Sf5zf2
ORcSiW3IpH7J3VK+zqU59Ezok/bgP679/HUfn9ptR98BY5+A4mGHv5u1Epp6ew4zvVf/GbAh7yj+
UVEDOxf8tHXnVnvjIW9Z3rK8ZXCf6j7VfSr4+PjHxz8+Dvsq9lXsq4D5zGc+dmFtWLVh1YZVgBo1
aojeFL0pehOsmL1i9orZIE+SJ8mTwCgzyowyuyAyv8r8KvMroB3taGcvoUsmlkwsmQhilpglZoHw
tfC18DVE5ETkRORAQe+C3gW9QTdGN0Y3Blp82eLLFl+CJlITqYmEsryyvLI8aBLUJKhJEHiv9F7p
vRI8Wni08GgB2epsdbYawr3CvcK97K7CZN1k3WQdVJ6oPFF5AsJ7hvcM7wnv3fveve/dC/KF8oXy
hfb3l/hA4gOJD0AiiSRizz9RRBEFPelJzyu8d3N34T/Kf4MUsWtNA27orKnxnvlABih+V/xLUXXt
569bqO4vuM9z3wUnJktd+s6FpnMYtr3h8oG0D0maaogaHyWLfQ1S8lLyUvLgw+QPkz9MhoTPEj5L
+AwmuE9wn+AOA3sN7DWwF5w6durYqWMQOT5yfOR4+KPqj6o/qsC8zrzOvM4uDNtQ4tyFcxfOXQh7
5+yds3cOdFjfYX2H9VC9rnpd9Too21m2s2wnNLmvyX1N7gPXba7bXLfZhyRDCCEEcJnuMt1lOgTt
CtoVtAuyJmZNzJoIMUNihsQMgVZdWnVp1QUy4zLjMuOgx0M9HurxkD2/Nt/S5vOGEUYYMCBwQOCA
QBiQMyBnQI7ddbH9QOob4/2C0ms5SBGp6VD/8R8tz/2yWQH0HjckrtdX1x/uht3jnksT9QNeg9SC
vFTfBtxhRRgibjVVQcsnWz7Z8kmQmWQmmQnaK9or2tcaUfJSe6m91JA4LXFa4jR7a99WYrl/6v6p
+6eQfW/2vdn32sM9nfp06tOp0LykeUnzEtj40caPNn4ECyYsmLCg1tBx+qD0QemD7P/bfgAZKRkp
GSmX221zOWy+sY0Hlz649MGldt/yUpYqlyqXKi8X8GXvpYEEasOgFR72XVf/8VaatQul30Kbpd0/
Gvv9jYevczuuzdZem59pAiU/VCfJf6z/jKHEQiF4rBP654+1V3VFS4uWFi29/HH//f77/fdD1Zaq
LVW1xsb/K5xL+g1tVXToktAloUvsPuKkiEkRkyLsjZZdj+96fNfj9nBd/tnln13+CZo4TZzmCosi
Z1TOqJxRCQP3Ddw3cJ/98xE9RvQY0QM6dejUoVMDlFRXQ/oir+qfB48uluFZfcBPbvp4rw8E5hsf
WX8eQtIN01avhZYZetWqaeA53px5cubNpmpHdBfjhMWQs443+q+AgPkB6maGG49HEP+kroYc//xY
m0MbIXyG5Z5vXrBvaV1fVH0ljWg/Fiam/t//rV8JPi/6vOjzIrxS80rNKzX258ZmjM0YmwFDE4Ym
DE2AIcVDiocUwzvj3xn/znhwO+J2xO0ITDox6cSkE7Bx98bdG3fb+zE9BnoM9BgIo7aM2jJqC8R+
F/td7HeQPSV7SvYUiJsVNytuVv3l62ZxjbeYcmeD8iVL6/x0cPmXuLT0NMg+EMXKUyBdLU7SpQHb
SLfsd5ydv2bnPd5qMtzTbnDac+F1j+emhWpjV+im9FXZEH+qeU3a4vrLqD5S8mOzwfDWls+Tirzh
g9MfnP7gNCSsTlidsBrUY9Vj1WOhYkLFhIoJsHra6mmrp9lb5bb+xPLt5dvLt8P9/e7vd3+/+rOv
vlBIxPXlz4IqwCLNPQ/KNpYpRX+AvJt4puIsSPtzvyYLhJHiZlMGoMJCrqOtvjqZLQvN7pUQ43rf
4De+Afk1up+uRb0JVUREFOHnwA33LnKFLpnB7+Q8ffMZNv8gbHO9C9bMT/mmxZuw7JFljyx7BJ6d
+ezMZ2dC9bzqedXz4O7Ddx+++7C9UeNopMuZotOB6w7LuQuF4JJiGVSYD4os8cfyXJAVi5HqCyAx
iksM2cA9VIqdHG31zZPve/Ggyxbw8ezQcuph8C9tOijA8+bjrTeh2rCdAHhAunHOO+OhU0nwPSVe
NxHhYFpL2sCvD1asStLD4LsG3zX4LjjU+VDnQ51BOCWcEk7dRPw3iOsIS01OECgnW9rkl4PLG+IH
pSUgWygKVSUgXSVO1hUCG8mw/H7r7HI0F5fUvCudC+YpIeee7QYt3VseCD9ef/HXu1BtaJO1/bUh
cKr9rsA506HN5GaTqjPqHl/OGy4vJSfBE+9M3D6lDyxYtGDRgkXgkeSR5HETS2cUkeJXZSZw9bHI
cmv+HGhQg7yzeLai6s9usgoQHhK3msr5byPPiRX1DN13klNQ6ev71rjZ0HpmtKR99/pPp8GEakPz
hOZRTXs4fvfOlgv2QIchQcMuvnXj8ZR1kw9L6ALVX0s2Rv3FtEPpLp7SvQmumyzZF8yg3Gd5oNAI
8pPi9nI9yHLFKLUOJNXiUoMW6EOV2PO6zXDyJ2UWdYwsFbTlTZPHHoY2LaO/bV/dcOk1uFBtGEOM
zYzucOCNLTGLpBA3MnhuwQ2setR0k44OGwOmuex1+wlcXhE/LBVANkeUVokgXSZO0VmAtWRanCVe
g1HwakWBYiTI34l4e+LE+q/ir8YtE6oNUSJKLMCuPRtjljeB+MTA1DPlDbefgJP6wdaKb5EWv2fy
FPvsulvFLRfqpfwq+2XAzvehxR7x+I/nwbOTalMdFxQ7qUdsHfWH4/PWhGkhoTBp6tN+N9/NVFcc
LlQb+UPyfsx9Dgp6H/92xSfQ+qlmz1Y/5Wir/n7YGkfnNpiT+30GPc4ltr+/ESzJaTRCtWHyM3mZ
5LD3je1RX66FmEE+bY5HgKqp4gXxP4627s7FNlnENhZf16HOhqLRCfVSil4uci9UwOmwQ70+/wS6
PBb8dv5hR1t1+2ObD6r28WyflAFd+nUbmbjS0VZdnUYv1Ev5beVRz4PtwKDKL9gWA+0GB6ZXNne0
VY2fAklFjDwI8g6Y/busgV7j71Y9lOE4n/NGue2Eeilpw1P7H5kBVdOyj/z4BnSIDSwrVzp7EWzd
SLmvGX/uGAu9+vf9flgTUPyuOHs9E5UbG7e9UC/F1ihLb5v68E8zIOgPhel3GQSt9DlgmONo6+of
2yrh35sXzWmab99ApGts97d6W0BikJjvhDM77zihXoptskxar9Sgw0VQWnUh5OgG8D0lz827ABHu
/s1rmoKQLyzjnKOtvTq21Zq5L1S/0HQNyD/3Kmi7EWI/6jb27mpQfaHaVntnkTuNO16o16JSqDhX
MRFOf3xSf3gIaJ4pdzkbAvJvxakX+9rPi7cdx2077fhmsfVTFmoqDbL5UFqqmeh+ALQbLEe89SCb
4lYetBpCv211NjYWQoe2VIY14h9SQ/P/rI2xRXaE/NEAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTkt
MDYtMThUMTQ6MDk6NDcrMDI6MDD3PBrFAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE5LTA2LTE4VDE0
OjE0OjE0KzAyOjAwyxni8AAAAABJRU5ErkJggg==" />
</svg>
