<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="85px" height="85px" viewBox="0 0 85 85" enable-background="new 0 0 85 85" xml:space="preserve">  <image id="image0" width="85" height="85" x="0" y="0"
    xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFUAAABVEAYAAABoZXQZAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0T///////8JWPfcAAAA
B3RJTUUH4wYSEA4PO046VwAAGZ9JREFUeNrtnXlcVNX//5/3zgy7CMqiggqyKomJgeIu7mSauKZ+
/JpLVpqmftzLyq3MTMvUn0suuaQZWh/9CGpG5RLiviAgECIiKCCbAsMs9/eHjeNHJBGBAZ3nH/rg
zL3nvO+Z15x7zvuc8z6C9De84BS7FdsXm0KCXez30TGQ+d7NLclvQIFfRvH1DiAo85be9AKLWcUF
dxzBJEFKUW4FxQVJXbwMTPMEpSoMrFRCknI/FB2RXBVJoDwjtVPkgXK+0F4xBYrMhfXmW0FZJLtp
eRLUw2ptbxAJJudt33F+G2w61OvUaAq4/uV5qtkxsD1Tp3OdzYauHcMjvChC1ZpoZRrg8rjzdc7s
hLS3YkeeiQTF1xmfXekJDWM1R1JMwGSHEKNZYWhrQWrMVGE/3Fwlbbbzg9zetZt6bgQbeRPnlrng
c7nVwsAJYB1svdr6kqGtrXyeW6EmdItLjTWDhB9PjT68Eexv37aPXAF2pkKrPEdDW/fsqCTJX6aC
JBuF0GQkmF/23hw0Btq82mV7z0KQ58oLFIY2sgKp8UJV1VNZqUzg2P7wqD2RYNopYchBL3C6wuiM
oYa2rurJU2mDzbtD6sC6G1qL4Lc/OHSEBhycHf5ynGxo68pPjROqri95bH3YOz9uAtvJiYf32UOd
/cLgu18b2rrqhzqaQ2J3iG9jNrf5O9B0Zq87o9+Hxutd+zZZZWjryk61F6qEhCTBH8XhDfdOBBuz
mBs/NAWbJOHLewcNbV3N44Fwv7aRt2sJ7dsNEt8dC1YfWv1sFWdo60qn2gr12sK/bidOh8RG+xd+
5QjunTSuSb8b2qrnjxxXaaplT8gZ4pU0cAJ0+v5Vl4GCoa0qSbURqiRq0QKHtn5fsCYcPNJvJR1q
DLKBwiHtDENb9+IQHybf7z4bXi4c+vOcCLCbYm9lP9fQVlUDoWa9nXkr810433ZH0ML/gnsnzdhE
X0NXi5G8ICnS3B6UzdqETagFr+xrm9fpK8PZIxqq4LODIu8d2wA3+n73yYTJRoFWN6x/FdoUZkDd
osj4ZRo4eGhHq9Xf6McMVU2Vt6jHM498duA9cHS5+J91X4EimkGaflX/4EbKR0wtM/8We6Cb67ge
Hymqzl9bZS3qEd898VttwCngYuaaYKNAaypN84tOXQiBiOQ1h2fugML+hX6FdpVfbqW3qAe/3t5u
1Qjw7nd7YHhu5T+Qkaolqa5w0ukn8F80LneZF1h+ahlmmVDx5VRai3pk3F7/rblGgT7vuGZJrVNf
h5N9NzjNjNJPyFQ0FS7Uo4MOfvfzD+B25FqnH05UQU0ZqRa4NdD6JP8fRCRseOfjlnp3Y0VRYULV
jeIbvHnl+43pIETgxGoD1JgRg+J9XWl7yR4Odtgyddm6isv3mfuomcsz7mYsgtRpW2u9V7sqpjZF
USYDkMtNTCqznOcVrVajAVCri4srv7Qblr7Kd1ygnV3XWcEry5+PvLw36pr2C5u/n7PAFNyrbO7d
ycnbGwShTZtBg6qivOeNlJToaJCkyMjduyu/NNsjF0K/nQopKo89Pi9BwxGNohpffvp8yv3q1011
GufgaxZV7ay3bCMMK54E17aGfrdoMahrqy1U5cjnqYWacPfqtli1fi6+qiksVKm0FdlLf8EoKjJM
/TVaR1jaevj1TujUzT88/f1PLdTrl8J++ybPuFjESPlwmZT6y4EouDE+xeO6W9nvK7NQf991IDQ0
Re+GMGKkPJjOEIao4+BK8/+0/OZQ2e974mCqqHORe1EdsPkjNnH3fCBJ+NKQD6rV3ruXlwd5eQkJ
l16ATW0VjSRlZqakgJmZYe3weq04MOb9v92a/cBvdxvL9mNLv/6J7qlfjof+tqUveDhfP/ejwVet
Ql6eUqnVQmpqTk5VuFeeN6ytTU1FEZycbGyqg3sv8aYY3XgLBAVO3vBNndKvK7VF1Y3ObE8lhxxK
BxBaUQ12byoUogj6CjfydJibm5hUp3rTdSUvxJ2ZfHIHtPBq9VXrWiWvK1WoR2eGyfb0hSbVbHux
ufl9qZbeItyfEBAEL6927QAcHZs0ged/gkClUipBktLTExIA4uP//BNAq60JXpKMd08c2vUtcKQV
rd8v+XmpQjVdlOBy8HtgOFCDth0Lwiuv9OsH0Lix7wu4EFsQHBxcXQGsrGxtQZLOnNm/39BWPRn3
I+rYhCmQPC7pP3/Fl9wlW+IlEL8qVh1jVxP3xcvlpqYAjRo1b25oWwyPJLm4+PkByGTycs8/Vh1C
Ml9KfSBm6fFV/21X8vMSQk384c8Z+xcb2uzyIIr3+16CIFTDXZRVjSDo6kEQqlOf9EnYd7sVFjmx
5JaXB4+gi81U/2j28jM1cDSt1SqVhYVw925yclw13p9eVeTn//VXdDRotff7rjUFu1Dxq7x2cDHu
7OSou/r0By8FXfAwmxnCnJoY2EHnZEtNPXRo505wcGjbtlcvsLJq2NDTE0TR1NTQvsPKRKtVKouK
7v9QY2Ph9u0TJ8LDwd3d1tbQtpWHtCGXTI5tgRbnW9F64kNC1UW3q21oC8uJTCaKggDm5pKkVEJa
WkTE3r2Gtspw1KplaiqTgSgKgqIGRkuz7JFdO1Y3mJr40KtfF36xptOgQe3aCgXY2pqby2SgUMhk
ggD3/31+/9c9p62thYVMpq+HmorzOWncra6Qk5OzJKc7yHV7XBrW02xNOQBQs0ciupa1Xj1r65r8
Rb3oiBuEHVIyXDl9dkBkMch1EZYtdwiXNDU4LOHTIghubv7+AC+9FBT05Osl6cSJXbsAMjKuXQNB
qF3b0RGgc+dRo8py/9WrkZEAMTG/P7R+VxDq1fPwAGjdOiSkLPlcvHjoEEBS0rlzhq7FyidPe6NF
zCCQZzqm+l6bBpbwgi3x0PkXTUzMzctyvc79dR9Jut9yC0JZ75fJ7m+h+V8k6X6+Zc1HEERRLq/6
BdCGQmyc90NaMxALPst8L+Up1gU+LxQUFBc/zdSiUqlSPSyO4mK1+mnEUlj4+PKUyqfN58VaOF5r
RXH+bRmI4rj85mkFhjan+iNJ/9uKPW2LVtr1Wu3T5VQdIi9WJfYzcc75FERzK+XArF6GNseIkcej
EIRTGgWIumNojBipzogmHzGq+IKhzTBi5J8Rzb/GsTjQ0GYYMfLPiKa2hKlqPXtGRoxUJqLKk36y
53ixhpHnA7EIaZ9JOQICGDFSlYjK68LvJi8b2gwjRv4ZsdifDibvGtoMI0b+GbHQQTHM2trQZhgx
8nikLqTyLojqSMs29a4Z2hwjRh7PnVHacbV+B1Exp06Cs3Fmykg1JdtFscrODkTbufU2Nh5gaHOM
GHk8qmkW/643FEQX0SO66UmQGjNVqAGBCoy8WJjctte4bgexzq66AXXXw81V0mY7P0ObZcTI/+L2
lu+l1tcf2tyX27t2U8+NhjbLSKmoUCECl8Rj8v+C1t6iud0tUN91+KCZBSjNPZS9hkDBwMCtk8+D
tNu0rnWsoY0uP3f6SD9YTdKH9nmwXdqmd5PVLYcAh863OO5haDNfINKFxmI3kLZKwUIEaNWafYII
GjfNIWEyqIPVf4jxoDZTzRTVQFPPsa9vAvVfnrocTgJw+++/NtGHMNBes1hVdyrIUHrmGfoZy8Ht
GMu/PB4KQ/lAqD7LW1kEKuC2z/nda342nlVabpKIxwYkZ0klTAWpm1YuJIH0ldUlp+lQZO7TbeBa
UJva12/WAyQ7RbZ5Q8ifkruDhgDk/51TIDF//18OtP9nfc+pL8jOZpNUAwOKWPR3Wdoq8e8/Wj0k
VOtg69XWlyBSZpLhPQu8KN4WbWhrqwMqipEBJ8TXFDtA298i224MaM3qDHZzBuW/ir6X/wlqSfWe
CGg+1rgLnYFCYBGwT5dR3T4vwf3T7O4AkM3OyjNbvbpOE/fZoCCZY50NXYllp3CAtNWkDrzSsCM9
7s+YjmTwY8JOWnfxuRD0CsA5op9npaYJN8Q7IG2UZgt/gFap2SvIQeOiOSC+D+qe6gghAdSOqs/E
e4B/y4LRv4PqxoMctgCoPyr6n2ylIdIQaQiEHg09GnoUQt4OeTvkbRDnifPEec9uds6YnDE5YyDs
ZtjNsJuQa5VrlWsFwdnB2cHZ0OiXRr80+gXUPnYDvf4ENESxBpCRy3VDV/qTubbNMuulTuDtbZ5s
vkWfXiLOm/8vHXoFDYTcz7UjLGrSyv9rwg9CH5AsFE4WWtC+a33IKQFUgtOnr6RB0dmXPhnUEO5e
6LJz3segtnfv0nc05M/M/dGkO9ybd1ej6AJFIwt7yi48JNBS0Aky2D7YPtge8g/kH8g/AMIuYZew
C+Jc4lziXKAwsTCxMLH0fNLs0uzS7OBw4OHAw4GQkpWSlZJV8rqM8RnjM8bDoORByYOS4XLx5eLL
xZA9JntM9hgYMXzE8BHDIdE50TnR+aEbZ8tOK2YZ+sspOw4ftrjS/TG7bEu0qLK7MrUcuPly3ekB
M6A22Q1+q059nJvC50JtUFp6ZPZqD5oedSO99oPmF6vuju2AW0A7YAlLAdCNJCp4gKgTpMJL4aXw
gvh68fXi64FfsF+wXzAETQ+aHjQdUp1SnVKdwBNPPIG5Xed2ndsVFOcV5xXn4fjLx18+/jK4dnft
7todTtuetj1tCztcd7jucAXvJO8k7yTY3X13993doc2wNsPaDIMFnRZ0WtBJb4/bBrcNbhtg2ZJl
S5YtgdXDVw9fPRykn0yV1ttB+LyArHI+a1Vwa6pUaDsa/PcGWLbtX/LzUiNntlry6pZ/FULxMKmp
7H1DP8ZD1JMWSBZQLDY+17E9aH6xMnX8TP9x+q30W+m3YOWwlcNWDoNJZyadmXQGZh2fdXzWcThs
fdj68FMswslLzkvOSwaVXCVXPSYgrsebHm96vAlXN13ddHWTPj3CP8I/wr9kefZr7dfar9Wn75m6
Z+qeqbBu/rr56+bD0DZD2wxtA3uO7jm656j+Pl1LKwuRhchCYPvm7Zu3b4aPO37c8eOOeiGfbH6y
+cnmoFysXKxcDJqbll4ONeDNWPCHZ3gfGQha8bGiLFWo9j3tbztMh8Qc67kBZQg1U2WI5JMG8uuZ
Y2ND9cnnNOc05zQQ8mXIlyFfQvbo7NHZo6H/yv4r+68E/2b+zfybwYr4FfEr4mH22tlrZ68FyUfy
kXwg/HD44fDDeoGMWDxi8YjFEHQi6ETQCei6vuv6rush+mz02eiz+nI9RnuM9hgN8RvjN8Y/5If2
DPAM8Ax4TPqbnm96vgmN0hqlNUqDWsG1gmsF6z9v69nWs60nxPaJ7RPbR59u+63tt7bfwvGWx1se
bwlJJ5JOJJ2AZiObjWw2Eubmzs2dmwt/LPtj2R/LwOSCyQWTC6BtWHtgI42hv7TSydqiDa7lA+1k
Pc/2H/hPX/sT8F3Ze+HIeFBHc0jsbujH0iN/+05W4lbQztfO186HOZPmTJozCabNmjZr2iyY121e
t3ndoMvmLpu7bIYBtgNsB9jCtu3btm/bDpFDI4dGDoWDKw6uOLgCCswKzArM4KNOH3X6qBMMCRwS
OCQQTr9x+o3Tb0BIh5AOIR1gzSdrPlnzid4OnfDiN8Vvit9UMv1q1NWoq1H6dJ2wM9tnts9sX/K5
dJ9f3Xh149WHBN5hdofZHWaDyXaT7SbbYbrLdJfpLjB47OCxg8eCc0fnjs4d4bXxr41/bTykH0k/
kn4E1APsPvFsZuhvq3SyGzYJD84BRbriruIfAkg/UagNgpx6OztA/Nc28nYtDf1YDxm+Ma/BjfNw
ZeaVmVdm6ke/Ie1D2oe0L/0+26m2U22nwrCwYWHDwmDvxL0T907Ut4ByL7mX3Av6TOwzsc9E/X26
lvmS+yX3S+769Act6rT4afHT9Onuy9yXuS+D1AmpE1In6AdVrm1d27q2hczUzNTMVP0gTIdjkGOQ
YxCIu8Rd4i5I65zWOa0zBPYP7B/YH3z8fPx8/GDw0sFLBy+FDzI/yPwgEwaMGTBmwBh4beJrE1+b
CPUz62fWzwTNzFrTGwwE0oRFgoxqwy0/7fs230GHha8uHLzpydeXObp7+3aDxHfHwp3fpS+sqkHo
cTG6oFeWGrKXZy/PXg7WLtYu1i4gRAvRQhncar4/+f7k+xPEuca5xrmCe7h7uHs4aEI1oZpQKB5e
PLx4uP76RumN0hulQ4F5gXmBOWSlZqVmpYLTO07vOL0Dmvma+Zr5+lG8RZFFkUWRXjAJvRJ6JfTS
/xBcx7mOcx1XsmugQyf0uKi4qLiHWuTPUz9P/TwV5ubMzZmbAwHaAG2AFtbuWbtn7R6YcnbK2Sln
S+YntZb7mHkb+lvTI2vb9uO37MEk0STDpAyh28ssVKsPrX62ioN7R186N6wa9FkFy+LpBd5gl22X
bZcNt8ffHn97vH4Q8SR0r1CdwMz6mfUz6wfOnZw7OXfSC+tBeX+P8t1S3FLcUvQC0/0wPJZ5LPNY
VvJVr2upS6S39mzt2bp0d9TsabOnzZ6m/0E9SoAUIAVI0Nehr0NfB713oDSk98yG2gwy9LcGsY1M
s5tnQKt9gZ90UJf9vqc+L6P9+h4Or30G8WHy/e6zDfjE3aWVGn9oqmgS5VwE1sHWwdbB+tH2k4gS
o8QoEZotabak2RJ9uleAV4BXQOkt3YM+5COjfN3oP3ly8uTkh+LMDl4+ePng5eDxhccXHl/o0z99
69O3Pn0L+kX0i+gXUbKcpkuaLmm6BOr0qNOjTo9nry7ttlqf1v/k2fMpL3e7S6FmCng5KCTmvY+f
/v5yH+zS8vwbO+Zug+z3pTxL5/Lm8uwo1mf+EhsOEy9OvDjxIiyqvaj2otoQMzNmZszMktdHLohc
ELkANm/bvG3zNhg3dNzQcQ+dp/XA3fRIC6ijd/3e9XvX13cVdHy47sN1H66DkftG7hu5T5/eflv7
be23ge8i30W+i/TpZe2iPCuCpDpYEArahWY3ak+p/PIeRbfOOXf1y5vHZIFjRL3d9csRlO+Jh/Y+
iXPjoiafmAk2147N+eyePqR1VaFu0WC5nwCFx3wODFoMWwu3Fm4thJW+K31X+oLTKqdVTqtAOVw5
XDkcVC1ULVQt9O6czqc6n+p8Sp+fbgZIHaoOVYfq+5jVDfmvmR5xniCffOd44iAQd+Tl3ZgPYkKB
S9YeEOqq+t6LB17VTtHkP3Nx5SZmvM2vHWZAr/A3983oUP58nlmoOg4e2tFq9Tfg7XVrRFgVzmRp
l9Yyq/8x3Hu7TYdJpvp0XV9VNxo3m2M2x2wOuIW7hbuFV12LVlZUv2YfTvWGIqubibGjoPjXjMnX
zEA1OZdbP4GmSeHK3DfA8Ya5r1YOtjYW+fIEQ1tdOslThc0NPCDw+ITEb755svvpSVSYUHUnrR3c
u67pJ1OgqV/BW2cSnzXXMpTbSPGTuQ/cje68at6Iyi+vzIQW/3jvHEgn04OvWIHcOmdxkhmYmRcs
vrUChDVFX2bPBfUl5W+FO+GuQjlac+3J2VpYmJgIApiaymTV8US+2xOlhjYCNF4zYsYXXcHB2eEv
xwo4G6LChKpDdwLgEafVv8/KBc/fVKdiK1NAf/sH8626/bZ4YSWW8zfyU5mJcWtB/t6dywnTQNya
J6RuBDGuoEXWKRBsVCPuFQG9tfM0VpVvT3UhT6UNNu8OtXb2t/00BVw+aOLgtrTi8q9woeoo7F/o
V2gHJ7eu9ZxyC1yzpNapr1deRRV80Ob8e60ecnCXEdlH+RE364B8b9b0q0dBTM357no2yJzvnbvt
BEKIUpPXE1iiaab6NyAjm6Sy5/+8U/CF1ND0FAgDenb86F/g3dnHoXkFClRHpQn1wYOMLWhT4AB/
pmxYNucSuK/TRCWOrfhyipu69+tpDsVpTlb+GSDPzbCPqQty75ygpE4gjsx/P20CCN8UfZvz/0A4
pT5VdAxoIM2QDDjYqKnoloGa/NSr/tzV4J3qo/bt8+z5lkalC1WHqp7KSmUCv/64ftJHw8C7odL+
UkWuO1NjjzcgJ4MavKmtupOxV8q3Xgh2d19/e/62in/Fl0aVCVWHJGrRAgc7bJm6bB14/56z/Oh4
/XntRqonulF807eGpy2or19dV1VUuVAf5U+viFEHvcE64tzr66eAlUpIUhoDYRgcnaM+5o717sBi
6NZs5Kh/Wz67m6m8GFyoOlLv3riRkgcJ6bvtF/UAFwWrU+0NbdWLh25wdCfcd+moWGgX3+1kHxtD
W1WNhKpDXVttoQJ+PRXadNNpaHws9cPwUWDWVUhSuRrauucX3WIR3Vx8eac6K4tqJ9RHudUlfVBa
OJwL3Tt5VVdoml906kI1WL1V09GtBxVUrdNH7wL/vPb1u7xtaKtKp9oL9VHODoq8d2wD5MaeXLOz
NzTZr5UlV+MKri5kKqUz1rcgZ6lrXK/D0HFfn5ih9obrcz4tNU6oj3Jxwln7qJ1wa9Hxn3ZqwcNG
3T5huNGLoHMj5Vxu5NXtJegY0XficIuyL1SubtR4oT6KblAWfeLYVwc0YHPv5rVjXcDRT2ib09DQ
1lU8ul3CSZdNW3kf1gcQCTjQsWfXgSAWi5pqtAOl3Dx3Qn0U3WKZi73PrIhSQNrty4ePhoPl0eyZ
cTOg4Uv8J30RCBE4sdrQ1paObrdmxl7LNe7uYOHu6tfKGl5Rd1zR410w32t+1rwaLkesKJ57oT6J
nJycJTnd4crpswMiiyFPnTL7ygcguuaPSpfpz4vXHcetO+34WdH5KbOuSsNr+UNOpLxO3cGgWmJx
vN4CMHVwmN7kX9DEvblFgKQPv/ii8v8BRag9hNIt4ckAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTkt
MDYtMThUMTQ6MDk6NDcrMDI6MDD3PBrFAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE5LTA2LTE4VDE0
OjE0OjE1KzAyOjAwbW7pRAAAAABJRU5ErkJggg==" />
</svg>
