---
---

// -----------------------------------------
// This is the main SCSS file
// -----------------------------------------

// -----------------------------------------
// Foundation Zurb
// -----------------------------------------
@import 'foundation/foundation';

// -----------------------------------------
// Global styles
// -----------------------------------------
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// -----------------------------------------
// Grids (choose one)
// -----------------------------------------
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// -----------------------------------------
// Generic components
// -----------------------------------------
@include foundation-button;
// @include foundation-button-group;
// @include foundation-close-button;
// @include foundation-label;
// @include foundation-progress-bar;
// @include foundation-slider;
// @include foundation-switch;
// @include foundation-table;

// -----------------------------------------
// Basic components
// -----------------------------------------
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
// @include foundation-pagination;
// @include foundation-tooltip;

// -----------------------------------------
// Containers
// -----------------------------------------
// @include foundation-accordion;
// @include foundation-media-object;
// @include foundation-orbit;
// @include foundation-responsive-embed;
// @include foundation-tabs;
// @include foundation-thumbnail;

// -----------------------------------------
// Menu-based containers
// -----------------------------------------
@include foundation-menu;
// @include foundation-menu-icon;
// @include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// -----------------------------------------
// Layout components
// -----------------------------------------
@include foundation-off-canvas;
// @include foundation-reveal;
@include foundation-sticky;
// @include foundation-title-bar;
@include foundation-top-bar;

// -----------------------------------------
// Helpers
// -----------------------------------------
// @include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
@include foundation-prototype-classes;

// -----------------------------------------
// Custom CSS goes here
// -----------------------------------------

// Test
.card {
  border: none;
}

// Hero
#hero {
  background: url('/assets/img/osm/osm-hero.jpg') 0 0 no-repeat;
  color: $white;
  height: 600px;
}

// _includes/footer.html
#footer {
  #footer--newsletter {
    background-color: get-color(primary);
    color: $white;
    margin-top: 25px;
    padding: 15px 0;
  }
  #footer--sponsors {
    background-color: #111;
    color: $white;
  }
  #footer--nav {
    background-color: $black;
    color: $white;
    a {
      color: $white;

      &:hover {
        color: get-color(primary);
      }
    }
  }
}

// Topbar
.top-bar {
  .menu {
    a {
      &:hover {
        background-color: get-color(primary);
        color: $white;
      }
    }
  }
}

// Off-Canvas
.off-canvas {
  background-color: #111;

  .drilldown {
    a {
      color: $white;
  
      &:hover {
        background-color: get-color(primary);
        color: $white;
      }
    }
  }
}
