---
layout: base
title: Blog
---

<header>
  <div class="page-top-bar">
    {% include topbar.html %}
  </div>
  <div class="grid-container">
    <div class="grid-x grid-padding-y align-center">
      <div class="cell small-12 medium-8 text-center">
        <h1>{{ page.title }}</h1>
      </div>
    </div>
  </div>
</header>

<main>
  <div class="grid-container">
    <div class="grid-x grid-padding-y">
      <div class="cell small-12 show-for-sr">
        <h2>List of Blog Posts</h2>
      </div>
      {% for post in paginator.posts %}
      <div class="cell small-12">
        <div class="grid-x grid-padding-x">
          <div class="cell small-12 medium-4">
            {% include helpers/file_exists.html 
                       filename=post.image.url %}
            {% if filename_exists == "true" %}
            <img src="{{ post.image.url | relative_url }}" 
                 alt="{{ post.image.description }}">
            {% else %}
            <img src="{{ "/assets/img/osm/osm-news-default.png" | 
                          relative_url }}" 
                 alt="{{ post.image.description }}">
            {% endif %}
          </div>
          <div class="cell small-12 medium-8">
            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
            <p>Posted on {{ post.date | date: "%B %d, %Y"}} 
               by {{ post.author }} in
               {{ post.categories }}
            </p>
            <p>{{ post.excerpt }}</p>
            <p>
              <a href="{{ post.url }}">
                Read more <span class="show-for-sr">about {{ post.title }}</span>
              </a>
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
      {% if paginator.total_pages > 1 %}
      <nav aria-label="Pagination">
        <ul class="pagination">
        {% if paginator.previous_page %}
          <li class="pagination-previous disabled">
            <a href="{{ paginator.previous_page_path | relative_url }}" 
               aria-label="Previous page">
               Previous <span class="show-for-sr">page</span>
            </a>
          </li>
        {% else %}
          <li class="pagination-previous disabled">
            Previous <span class="show-for-sr">page</span>
          </li>
        {% endif %}
      
        {% for page in (1..paginator.total_pages) %}
          {% if page == paginator.page %}
            <li class="current">
              <span class="show-for-sr">You're on page</span> {{ page }}
            </li>
          {% else %}
            {% if page == 1 %}
            <li>
              <a href="/blog"
                 aria-label="Page 4">
                  {{ page }}
              </a>
            </li>
            {% else %}
            <li>
              <a href="{{ site.paginate_path | 
                          relative_url | 
                          replace: ':num', page }}"
                 aria-label="Page 4">
                  {{ page }}
              </a>
            </li>
            {% endif %}
          {% endif %}
        {% endfor %}
      
        {% if paginator.next_page %}
          <li class="pagination-next">
            <a href="{{ paginator.next_page_path | relative_url }}" 
               aria-label="Next page">
              Next <span class="show-for-sr">page</span>
            </a>
          </li>
        {% else %}
          <li class="pagination-next disabled">
            Next <span class="show-for-sr">page</span>
          </li>
        {% endif %}
        </ul>
      </nav>
      {% endif %}

    </div>
  </div>
</main>
