<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="off-canvas-wrapper">
      <div class="off-canvas position-left" id="offCanvas" data-off-canvas>
        <div style="text-align: center;">
          <button class="button hollow white" 
                  type="button" 
                  style="margin: 15px;"
                  data-close>
            Close Menu
          </button>
        </div>
        <!-- Your menu or Off-canvas content goes here -->
        {% include offcanvas.html %}
      </div>
      <div class="off-canvas-content" data-off-canvas-content>
        <!-- Your page content lives here -->
        {{ content }}

        {% include footer.html %}
      </div>
    </div>

    <!-- javascript files -->
    {% include scripts.html %}
  </body>
</html>

