---
layout: base
---

<header>
  <div class="page-top-bar">
    {% include topbar.html %}
  </div>
  <div class="grid-container">
    <div class="grid-x grid-padding-y align-center">
      <div class="cell small-12 medium-8 text-center">
        <h1>{{ page.title }}</h1>
      </div>
    </div>
  </div>
</header>

<main>
  <div class="grid-container">
    <div class="grid-x grid-padding-y align-center">
      <div class="cell small-12 medium-8">
        {{ content }}
      </div>
    </div>
  </div>
</main>
